@import '_variables';
#main-nav{
    li.startseite{
        display:none;
    }
    &.navbar-fixed-top{
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0; 
        line-height:1; 
        z-index:99999999999;
        li.startseite{
            display:block; 
        }
    }
    ul{
        @include flexbox();
        flex-flow:row wrap;
        align-items:flex-end;
        margin:0 0 .5em 0;
        li {
            flex: 1;
            text-align: center;


            &:last-child{
                border:0;}
            a, span{
                font-size:1vw;
                padding:.5vw 1vw;
                margin-bottom:-.5vw;
                @include border-radius (0);
                width:100%;
                display:inline-block;
                line-height: 1.2;
                color:$basecolor;
            }
            &.active a, &.trail a,
            &.active span, &.trail span{
                border-bottom: 2px solid $highlightcolor;
            }


        }
    }
}
#main-nav.navbar-fixed-top{
    background:$basecolor; 
    /*    border-bottom:1px solid #ccc;*/
    ul {
        margin-bottom:0;
        li{
            a, span{
                color:white;
                /*                background:$highlightcolor; */
                padding-top:1em;
                min-height:50px;
            }
            &.active, &.trail{
                border-bottom:0;
                height:100%;
                a, span {
                    color:$basecolor;
                    background:white;
                    border-bottom:0;
                    margin-bottom:0;

                }
            }
        }
    }
}
#main.inside {
    position: relative;
}

.affix{
    position: fixed;
    #main &{
        background: #FFF6B0;
        top: 60px;
        left: auto;
        right:10px;
        max-width: 320px;
        min-width: 160px;
        padding:1em;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.8);
        z-index: 999999;
    }
}
.affix-top{
 float:left;
}
.nav>li>a{
    #toc &{
        padding:.5em;
        border-bottom:1px dashed $baseBorderColor;
        border-top: 1px dashed white;
    }
}
#linkliste{
    ul.level_2 a {
        padding-left:2em;
    }
    ul.level_3 a {
        padding-left:2em;
    }
    li{
        margin-bottom: .3em;
        > ul {
            margin-top: .3em;
        }
    }
    li.submenu{
        > a{
            font-weight: bold;
            &:before{
                @include icon-style("\f105", 1em, 1, 0, 1em);
            }
        }
    }
}
.mod_breadcrumb{
    float:left;
    clear:both;
    color:$darkercolor;
    .startseite &{
        display:none;
    }
}
.footer-nav{
    li{
        display: inline-block;
        padding:0 .5em;
        line-height: 2;
        border-left: 1px solid #ccc;
        &:first-child{
            border:0;
        }
    }
}
#side-nav {
    /*    float:left;*/
    position:absolute;
    body:not(.startseite) & {
        float:left;
        margin-left:-2em;
        ~ div{
           @extend .if-has-side-nav;
        }
    }
    body.startseite &{
        width:100%;
        float:none;
    }
    .mod_navigation {
        /* Colors */
        ul.level_1 a{
            color:$basecolor;
        }
        ul.level_2 a{
            color:lighten($basecolor,10%);
            padding-left:2.5em;
        }
        ul.level_3 a{
            color:lighten($basecolor,20%);
            padding-left:4.5em;
        }
        a, span{
            text-decoration: none;
            padding:.5em 1em;
            display:block;
            color:white;
            &:hover{
                background:#eee !important;
                color:$basecolor !important;
            }
        }
        li{
            margin:1px 0;
            border-width:0 0 1px 0;
            border-style:solid;
            border-color:$baseBorderColor;
        }
        li.sibling:hover,
            li.active {

            span.active{
                color:white;
                background:$basecolor;
                border:0;

                + ul {
                    display:block;
                }
            }

        }
         li.submenu {
            > ul {
                display:none;
            }
            > a{
                &:before{
                    @include icon-style("\f0da", 1em, 1, 0, 1em);
                }
                &:hover{
                    &:before{
                        content:"\f0d7";
                    }
                }
            }
            > .active {
                &:before{
                    @include icon-style("\f0d7", 1em, 1, 0, 1em);
                }
            }
            &.trail{
                > .trail{
                    background:lighten($basecolor,20%);
                    color:white;
                    &:before{
                        @include icon-style("\f0d7", 1em, 1, 0, 1em);
                    }
                }
                > ul {
                    display: block;
                }
            }
        }
    }
    #partnerlinks {

        img {
            margin-bottom: 1em;
        }
    }
}