

$path-css-to-img-folder: '../img';



$navOffColor:					$darkercolor;
$navOffBorder:					#d3e0e9;
$navOffGradient1:				#f2f5f6;
$navOffGradient2:				#e3eaed;
$navOffGradient3:				#c8d7dc;
$navHoverBg:					#F4F2F0;
$navHoverBorder:				#E5DFDC;
$navOnColor:					#ffffff;
$navOnBorder:					#DE601A;
$navOnGradient1:				#FF9B50;
$navOnGradient2:				#234361;
$navOnGradient3:				#234361;
$navOnGradient4:				#DE601A;
$navSubBorderTop:				#eeeeee;
$navSubItemBorderTop:	 		#ffffff;
$navSubItemBorderBottom:		#E5DFDC;
$box1Bg:						white;
$box2Bg:						#d3e0e9;

$inputOffBg:					#F4F2F0;
$inputOnBg:					#fdfdfd;
$errorColor:					#c20000;
$confirmColor:					#00ADF1;
$borderColor:                                   #cccccc;






/* Border Radius */
@mixin border-radius ($r){
    -webkit-border-radius: $r;
    border-radius: $r;
}

@mixin reset-border($r, $width){
  @include border-radius ($r);
  border-width: $width;
}

/* Flexboxes */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}
@mixin defaultInnerCenter{
    max-width: 75%;
    margin:0 auto;
}
.if-has-side-nav{
    margin-left:210px; /*ca. nav width ins javascript oder sass calc*/
    padding:0 1em;
    border-left:1px dashed $baseBorderColor;
}