#main-nav{
    padding-top:2em;
    position: relative;
    @media screen and (max-width:$screen-smallPad){
        height:50px;
    }
    @media screen and (max-width:$screen-smallPad){ 
        input[type=checkbox] {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        label { 
            width:30px;
            height:30px;
            cursor: pointer;
            display:block;
            position:absolute;
            top:2em;
            left:1em;
            > span{
                background: $basecolor;
                height:3px;
                margin-bottom: 6px;
                display: block;
            }
            ~.ce_image{
                position:absolute;
                top:1em;
                right:1em;
                left:55px;
            }
        }


        /* Default State */
        nav {
            height:0;
            display:none;
            clear:both;
        }

        /* Toggled State */
        input[type=checkbox]:checked ~ nav {
            @include transition(height);
            height:auto;
            min-height: 420px;
            display:block;
            background: white;
            width:100%;
            z-index: 999;
            position:absolute;
            top:60px;
            left:0;
        }
    }
    @media screen and (min-width:$screen-md){
        label, input[type=checkbox], label ~.ce_image {display:none;} 
    }
    ul {
        li {
            @media screen and (max-width:$screen-smallPad){
                display: block;
                max-width:320px;
                padding:1em 1em 1em 60px;
                border-bottom:1px solid currentColor;
            }
            @media screen and (min-width:$screen-smallPad){
                display: inline-block;
                float:left;
            }
            @media screen and (min-width:$screen-smallPad){
                margin: 0 .5em; 
            }
            @media screen and (min-width:$screen-smallPad +1) and (max-width:$screen-md){
                margin: -.5em 2em 0 0;
                padding:0 0 2em 0;
                font-size:large;
            }
            &.first{margin-left: 0;}
            &.last{margin-right: 0;}
            &.startseite{
                display:none;
            }
            a, span{
                width:100%;
                display:inline-block;
                line-height: 1.2;
                color:$basecolor;
                text-transform: uppercase;
            }
            @media screen and (min-width:$screen-sm){
                &.active a, &.trail a,
                &.active span, &.trail span{
                    border-bottom: 2px solid $highlightcolor;
                }
            }
        }
    }
    /*    @media screen and (min-width:$screen-md){*/
    &.navbar-fixed-top{
        position: fixed;
        top:0;
        left:0;
        width:100% !important;
        height:50px;
        z-index:999999999;
        @include shadow;
        li.startseite{    
            display:block;
        }
        @media screen and (max-width:$screen-smallPad){
            background:white;
        }
        @media screen and (min-width:$screen-smallPad){
            background:lighten($basecolor, 20%);
            padding:0;
            ul{
                @include display-flex;
                @include justify-content(center);
                @include align-items(flex-end);
                li{
                    float:none;
                    @include flex(1 0);
                    margin:0;
                    text-align:center;
                    height:100%;
                    a, span{
                        color:white;
                        padding:1em;
                    }
                    &.active, &.trail{

                        a, span {
                            color:$basecolor;
                            background:$bgColor url('../img/mdbg.png');
                            border-bottom:0;
                        }
                    }
                }
            }
        }
    }
}
#side-nav.mod_navigation {
    margin-top:2em;
    /* Colors */
    ul.level_1 a{
        color:$basecolor;
    }
    ul.level_2 a{
        color:lighten($basecolor,10%);
        padding-left:2.5em;
    }
    ul.level_3 a{
        color:lighten($basecolor,20%);
        padding-left:4.5em;
    }
    /* End Colors */
    a, span{
        text-decoration: none;
        padding:.5em 1em;
        display:block;
        color:white;
        &:hover{
            background:#eee !important;
            color:$basecolor !important;
        }
    }
    li{
        margin:1px 0;
        border-width:0 0 1px 0;
        border-style:solid;
        border-color:$baseBorderColor;
    }
    li.sibling:hover,
        li.active {

        span.active{
            color:white;
            background:$basecolor;
            border:0;

            + ul {
                display:block;
            }
        }

    }
    li.submenu {
        > ul {
            display:none;
        }
        > a{
            &:before{
                @include icon-style("\f0da", 1em, 1, 0, 1em);
            }
            &:hover{
                &:before{
                    content:"\f0d7";
                }
            }
        }
        > .active {
            &:before{
                @include icon-style("\f0fe", 1em, 1, 0, 1em);
            }
        }
        &.trail{
            > .trail{
                background:lighten($basecolor,20%);
                color:white;
                &:before{
                    @include icon-style("\f146", 1em, 1, 0, 1em);
                }
            }
            > ul {
                display: block;
            }
        }
    }
}
.mod_breadcrumb {

    body.startseite & {
        display: none;
    }
    > ul{
        margin:2em 0;
        > li {
            float:left;
            &:after {
                content: ' / ';
                margin:0 .2em;
            }
        }
        > li:last-child{
            &:after {
                content: ' ';
            }
        }
        > li {
            font-style:italic;
            a {
                color:$basecolor;
                text-decoration: underline;
            }
        }
        > li.active{
            font-weight: bold;
        }
    }
}
.ce_table-of-contents:not(.fixed), .flex-container, .flex-container.affix{
    ul.level_1{
        @include column-count(18em,4,avoid);
        > li {
            padding:1em 0 0 0;
            &.submenu > a{font-weight: 600;}
        }
    }
}
.ce_table-of-contents:not(.fixed){
    padding-bottom:2em;
    li > a {font-weight: 600;}
}

.ce_table-of-contents.fixed{
    position: fixed;
    top: 44px;
    left:5px;
    max-width: 20%;
    min-width:160px;
    padding:1em !important;
    @include shadow;
    z-index: 999999;
    background:$stickyNote;
}
