  .btn-download{
    display:block;
    text-align:left;
    > span {
        display:inline-block;
            @include shadow;
            padding:$vgrid/2 $vgrid;
            background:darken($highlightcolor,5%);
            margin:$vgrid auto;
    }
    * {
        color:lighten($highlightcolor,80%);
        text-decoration: none;
    }
    &:hover{
        text-decoration: none;
        background-image: none;
    }
    img {
        height:1.2em;
        width:auto;
        margin:0 0 0 .2em;
    }
}

.toggle{
    border-bottom:1px solid currentColor;
    clear:both;
    &:hover{
        cursor: pointer;
    }
    &:before{
        @include icon-style ("\f105", 1em, 1, 0, larger);
    }
    &.show:before{
        content:"\f107";
    }
    ~ .flex-container.hidden{
        display:none;
    }
}

/*** Scroll to top ***/
.scroll-to-top {
    background: none repeat scroll 0 0 $basecolor;
    @include border-radius(0);
    position: fixed;
    left: 20px;
    bottom: 4%;
    color: white;
    cursor: pointer;
    display: none;
    font-size:large;
    line-height: 1;
    padding: 5px 10px;
    transition: background-color 0.1s linear 0s;
    z-index: 9999;
    &:hover {
        opacity: 0.8;
    }
}