$vgrid: 1em;

$path-css-to-img-folder: '../img';

/* Fontawesome Icons */
@mixin icon-style ($cnt, $pd-ri, $op, $mg-le, $size) {
    font-family: 'FontAwesome';
    content: $cnt;
    padding-right: $pd-ri;
    opacity: $op;
    margin-left:$mg-le;
    font-size:$size;
}
/** shadow ***/
@mixin shadow {
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}
/*** border-style***/
@mixin border-style($width, $style, $color){
    border-width:$width;
    border-style:$style;
    border-color:$color;
}