$susy: (
columns: 12,  // The number of columns in your grid
gutters: 1/4    , // The size of a gutter in relation to a single column
);
* {position: relative;}
#wrapper {
    
    > #container .inside{
        @include container(1170px);
        .netpoint-billboard, .social, .mod_breadcrumb{
            width:inherit; 
        }
        #side-nav{
            @include span(3 of 12);
            ~ .mod_article {@include span(last 9 of 12);}
        }
        .mod_article.indent {@include span(last 9 of 12);}
        .mod_breadcrumb.indent{@include push(3);@include span(9 of 12); }
    }
    
    > footer, > header{
        @include container;
    }
}
#header{
    .inside {
        @include container;
        hgroup{
            @include span(3 of 12);
        }
        #main-nav {
            @include span(last 9 of 12);
        }
    }
}

.addons {
    @include container;
    .agoff{
       @include span(3 of 12); 
    }
    .social{
        @include span(5 of 12);
        > * {float:left;}
    }
    .search-boxen{
       @include span(last 4 of 12); 
    }
}   
.flex-container{
    @include display-flex;
    body.startseite &{
       @include flex-wrap(wrap);
       margin:0 -.5em;
    }
}
.block{
    body.startseite .flex-container &{
      @include flex-grow(1);
      margin:.5em; 
      width: calc(100% * (1/4) - .5em - 1px);
      height:auto;
    }
    body.startseite .if-has-ads .flex-container &{
        width: calc(100% * (1/3) - .5em - 1px);  
    }
}
#footer {
    .inside{
        @include display-flex;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        > div:first-child{
            @include flex(1 0);
            img {
                margin-right:$vgrid;
            }
        }
        div.ce_text {
                @include flex(1 0);
            }
        > nav {
          @include flex(1 0);
          > ul {
              @include display-flex;
              @include justify-content(flex-start);
              @include align-items(baseline);
              > li {
                  @include flex(1 0);
              }
          }
        }

    }

}