.if-has-ads{
    &.custom{
        float:right;
    margin-right: 160px;
    }
    &#wrapper{
        padding-right:160px;
        float:left;
    }
    &.netpoint-billboard {
        margin: 2em 3em;
        border-bottom: 1px solid #ccc;
    }
    .netpoint-billboard{
        padding-bottom: 2em;
        margin-bottom:2em;
    }

    .flex-container {
        > * {
            display:inline-block !important;
        }
        .block{
            @include span(9 of 12);
            ~ div{
                @include span(2 of 12); 
                > div {
                    float: right;
                }
            }

        }
    }
    &#main{
        .mod_article > .adsense{
            @include clearfix;
        }
    }
}